<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="main-container">
        <!-- Memberi jarak pada kanan kirinya -->
        <div class="nav">
          <!-- Navigation bar -->
          <div class="logo">
            <a href="/">Namalogo</a>
          </div>
          <nav>
            <ul>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#blog">Blog</a></li>
              <li><a href="#news">News</a></li>
              <li><a href="#testimonial">Testimonial</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="apps.html" target="_blank">Apps</a></li>
              <li>
                <a href="admin.html" target="_blank"><button class="btn">Admin</button></a>
              </li>
            </ul>
          </nav>
          <div class="burger">
            <div class="garis-1"></div>
            <!-- hamburger menu -->
            <div class="garis-2"></div>
            <div class="garis-3"></div>
          </div>
        </div>
        <!-- hero section -->
        <section id="hero">
          <div class="hero-left">
            <h3 class="pre-title">Welcome to</h3>
            <h1 class="hero-name">Nama <span>Logo/Web</span></h1>
            <p>Deskripsi singkat profil</p>
          </div>
          <div class="hero-right">
            <img src="myimg/" alt="logo yang dibuat" />
          </div>
        </section>
        <!-- hero end -->
      </div>
    </header>
    <!-- Header end -->
    <!-- services section -->
    <section id="services">
      <div class="services main-container">
        <h3 class="pre-title">Services</h3>
        <h1 class="section-title services-title">Spesialized in</h1>
        <div class="grid-3">
          <!-- Service1 -->
          <div class="service">
            <div class="service-icon">Icon image</div>
            <h4>Judul Service 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates at quia deserunt vel cumque dolores id doloremque et voluptatem.</p>
          </div>
          <!-- Service 2 -->
          <div class="service">
            <div class="service-icon">Icon image</div>
            <h4>Judul Service 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates at quia deserunt vel cumque dolores id doloremque et voluptatem.</p>
          </div>
          <!-- Service 3 -->
          <div class="service">
            <div class="service-icon">Icon image</div>
            <h4>Judul Service 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates at quia deserunt vel cumque dolores id doloremque et voluptatem.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- services end -->
  </body>
</html>
