<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="main-container">
        <!-- Memberi jarak pada kanan kirinya -->
        <div class="nav">
          <!-- Navigation bar -->
          <div class="logo">
            <a href="/">Namalogo</a>
          </div>
          <nav>
            <ul>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolios">Portfolio</a></li>
              <li><a href="#blog">Blog</a></li>
              <li><a href="#news">News</a></li>
              <li><a href="#testimonial">Testimonial</a></li>
              <li>
                <a href="#contact"><button class="btn">Contact Uss</button></a>
              </li>
            </ul>
          </nav>
          <div class="burger">
            <div class="garis-1"></div>
            <!-- hamburger menu -->
            <div class="garis-2"></div>
            <div class="garis-3"></div>
          </div>
        </div>
        <!-- hero section -->
        <section id="hero">
          <div class="hero-left">
            <h3 class="pre-title">Welcome to</h3>
            <h1 class="hero-name">Nama <span>Logo/Web</span></h1>
            <p>Deskripsi singkat profil</p>
          </div>
          <div class="hero-right">
            <img src="myimg/" alt="logo yang dibuat" />
          </div>
        </section>
        <!-- hero end -->
      </div>
    </header>
    <!-- Header end -->
    <!-- services section -->
    <section id="services">
      <div class="services main-container">
        <h3 class="pre-title">Services</h3>
        <h1 class="section-title services-title">Spesialized in</h1>
        <div class="grid-3">
          <!-- Service1 -->
          <div class="service">
            <div class="service-icon">Icon image</div>
            <h4>Judul Service 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates at quia deserunt vel cumque dolores id doloremque et voluptatem.</p>
          </div>
          <!-- Service 2 -->
          <div class="service">
            <div class="service-icon">Icon image</div>
            <h4>Judul Service 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates at quia deserunt vel cumque dolores id doloremque et voluptatem.</p>
          </div>
          <!-- Service 3 -->
          <div class="service">
            <div class="service-icon">Icon image</div>
            <h4>Judul Service 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates at quia deserunt vel cumque dolores id doloremque et voluptatem.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- services end -->
    <!-- Portfolio -->
    <section id="portfolios">
      <div class="portfolios main-container">
        <h3 class="pre-title">Our Works</h3>
        <h1 class="section-title">Featured Portfolios</h1>
        <div class="grid-3">
          <!-- port 1 -->
          <div class="portfolio">
            <div class="portfolio-cover">
              <!-- gambar portfolio -->
              <img src="myimg/images_18.jpg" alt="portfolio 1" />
            </div>
            <div class="portfolio-info">
              <div class="portfolio-title">
                <h4>DSGN App</h4>
                <a href="apps.html" class="portfolio-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" /></svg>
                </a>
              </div>
              <div class="portfolio-tags">
                <div>HTML</div>
                <div>CSS</div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corporis aspernatur amet iusto hic ab?</p>
            </div>
          </div>
          <!-- port 2 -->
          <div class="portfolio">
            <div class="portfolio-cover">
              <!-- gambar portfolio -->
              <img src="myimg/example.jpg" alt="portfolio 2" />
            </div>
            <div class="portfolio-info">
              <div class="portfolio-title">
                <h4>World Head Football Game</h4>
                <a href="game.html" class="portfolio-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" /></svg>
                </a>
              </div>
              <div class="portfolio-tags">
                <div>HTML</div>
                <div>CSS</div>
                <div>Javascript</div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corporis aspernatur amet iusto hic ab?</p>
            </div>
          </div>
          <!-- port 3 -->
          <div class="portfolio">
            <div class="portfolio-cover">
              <!-- gambar portfolio -->
              <img src="myimg/images_1.jpg" alt="portfolio 3" />
            </div>
            <div class="portfolio-info">
              <div class="portfolio-title">
                <h4>Admin Dashboard</h4>
                <a href="admin.html" class="portfolio-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" /></svg>
                </a>
              </div>
              <div class="portfolio-tags">
                <div>HTML</div>
                <div>PHP</div>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corporis aspernatur amet iusto hic ab?</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio end -->
  </body>
</html>
