@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*value dari border dan paddingg masuk ke dalam hitungan*/
}
body {
  font-family: "roboto", sans-serif;
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: white;
}
p {
  font-size: 1rem; /*16px*/
  line-height: 1, 8rem;
}
p,
span,
label,
input,
textarea,
li {
  color: grey;
}
a {
  text-decoration: none; /*menghilangkan underline*/
}
.main-container {
  width: 1200px;
  margin: 0 auto; /*atas-bawah 0 kiri-kanan auto*/
}
/*rresponsive media query*/
@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}
/* button */
.btn {
  padding: 1rem 1.8rem;
  background: wheat;
  border: 1.5px;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
/* Titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem; /*jarak antar karakter*/
  color: grey;
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}
.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: white;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
}
/* Layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /*bagian responsive, repeat kondisi dalam kurung: autofit=supaya kolomnya nge expand ketika ada ruang kosong di sisinya, minimal 250px kolom gridnya akan turun ke bawah, gap untuk 1fr 3rem*/
}
/* logo dan nav menu */
.nav {
  display: flex;
  justify-content: space-between; /*auto menempatkan diri ke kiri dan kanan*/
  padding: 2rem 0;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.logo {
  display: flex;
  align-items: center; /*ke tengah sejajar navbar*/
  font-weight: 700;
  font-size: 1.8rem;
}
.logo a {
  color: wheat;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  color: white;
}
/* hamburger menu */
.burger {
  /* display: none; */
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}
/* Section Hero */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr; /*fr=fraction, 2 kolom sama lebar*/
  align-items: center;
}
.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem; /*atas, kiiri-kanan, bawah*/
}
.hero-name span {
  color: goldenrod;
}
.hero-right {
  display: flex;
  justify-content: center;
}
.hero-right img {
  width: 90%;
}
/* Services section */
#services {
  background-color: rgb(17, 16, 16);
  padding: 6rem 0; /*section padding*/
}
.services .pre-title {
  margin: 0 auto; /*supaya ke tengah*/
}
.services-title {
  text-align: center;
}
.service {
  padding: 3rem 2rem;
  text-align: center;
  background: rgb(218, 165, 34);
  border-radius: 0.7rem;
}
.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.1rem;
}
/* no service-icon */
